* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: poppins-regular; /*Гарнитура шрифта */
  src: url("../fonts/poppins/poppins-regular.ttf"); /*Путь к файлу со шрифтом*/
}

@font-face {
  font-family: poppins-medium; /*Гарнитура шрифта */
  src: url("../fonts/poppins/poppins-medium.ttf"); /*Путь к файлу со шрифтом*/
}
@font-face {
  font-family: poppins-bold; /*Гарнитура шрифта */
  src: url("../fonts/poppins/poppins-bold.ttf"); /*Путь к файлу со шрифтом*/
}
@font-face {
  font-family: poppins-light; /*Гарнитура шрифта */
  src: url("../fonts/poppins/poppins-light.ttf"); /*Путь к файлу со шрифтом*/
}

html {
  overflow-x: hidden;
  /*убирает горизонтальную полосу прокрутки*/
}

.container {
  margin: 0px auto;
  width: 1600px;
  background: #fff;
}

/**********************************************************************************
*************************************HEADER****************************************
***********************************************************************************/
h1,
h2,
h3,
p,
li,
a,
span,
button {
  text-align: center;
  font-family: "poppins-light", sans-serif;
}
button {
  width: 200px;
  height: 50px;
  background: #0785f2;
  border: none;
}
button:hover,
button:focus,
button:active {
  outline: none;
  border: none;
}

button:hover {
  background: #086bc1;
}
button:active {
  background: #044379;
}

h1 {
  font-size: 60px;
  font-weight: normal;
}
h2 {
  font-size: 40px;
  font-weight: 200;
  text-transform: capitalize;
}
header {
  background-image: url("../img/background-header.jpg");
  /*background: rgba(53, 53, 53, 0.7);*/
  /*background-color: rgba(0,0,0,0.5);*/
  /*opacity: 1.5;*/
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 600px;
  position: relative;
  /*overflow: hidden;*/
}

.header-overlay,
.get-offer-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
}

header h1,
header p,
header button {
  color: #fff;
}
header h1 {
  margin-top: 100px;
}
header p,
.get-offer p {
  font-size: 17px;
}
.logo-nav {
  width: 1600px;
  position: fixed;
  z-index: 100;
  /*background: rgba(171, 183, 206, 0.7);*/
  /*background: rgba(246, 248, 250, 0.7);*/
  background: rgba(100, 200, 300, 0.4);
  flex-wrap: wrap;
  display: flex;
  /*height: 47px;*/
}
.logo {
  margin-top: 10px;
  margin-left: 60px;
  display: flex;
}
nav {
  width: 1300px;
  display: flex;
  align-items: flex-end;
}
ul {
  list-style: none;
  display: block;
  margin-left: 700px;
  width: 900px;
  text-align: right;
}
nav ul li {
  display: inline-block;
  text-transform: capitalize;
  margin-left: 30px;
  margin-bottom: 12px;
  justify-content: space-between;
}
ul li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "poppins-regular", sans-serif;
  font-size: 15px;
}
ul li a:hover {
  border-bottom: 1px solid #fff;
}
header button {
  display: block;
  margin: 50px auto;
}
/**********************************************************************************
*****************************SECTION RECENT POSTS**********************************
***********************************************************************************/
#blog {
  background: #fff;
  width: 100%;
  /*height: 600px;*/
  position: relative;
}
#blog h2 {
  margin-top: 100px;
  color: #181818;
}
#blog p {
  margin-top: 10px;
  color: #8d8d8d;
}
#blog span {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.blog-container {
  margin: 100px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-container img {
  border: 2px solid transparent;
}
.blog-container img:hover {
  border: 2px solid #0785f2;
}
.blog-container a {
  color: #c1c1c1;
  text-decoration: none;
}
.blog-container i {
  font-size: 12px;
}
.bestblog,
.standartblog,
.simpleblog,
.anotherblog {
  width: 270px;
  /*height: 350px;*/
  display: block;
}
.blog-container h3 {
  margin-top: 25px;
  color: #4b5362;
}
.blog-container h3:first-letter {
  text-transform: uppercase;
}
.blog-container p {
  color: #b8b8b8;
  margin-top: 15px;
  line-height: 2;
}

/*
, .standartblog h3:first-letter, .simpleblog h3:first-letter, .anotherblog h3:first-letter {
.img-blog {
	transform: scale(0.52, 0.52);
}
*/

/**********************************************************************************
*****************************SECTION FEATURES**************************************
***********************************************************************************/
#features {
  background: #f6f8fa;
  width: 100%;
  /*height: 600px;*/
  /*position: relative;*/
  margin-bottom: 100px;
}
#features h2 {
  padding-top: 100px;
}
#features h3 {
  color: #222;
  font-size: 25px;
}
#features h3:first-letter {
  text-transform: capitalize;
}
#features p {
  padding-top: 10px;
  line-height: 2;
  color: #8d8d8d;
}
.feature-container {
  flex-wrap: wrap;
  display: flex;
  /*border: 100 px 100px;*/
  margin: 75px 150px 0 150px;
  padding-bottom: 100px;
  justify-content: space-between;
  /*border-left: 250px;*/
  /*border-right: 250px;*/
}
.feature {
  width: 350px;
  display: block;
}
.paintbrush,
.support,
.keyboard {
  text-align: center;
  margin-bottom: 30px;
}
.paintbrush i,
.support i,
.keyboard i {
  font-size: 50px;
  color: #0785f2;
}

/**********************************************************************************
*****************************SECTION RESPONSIVENESS********************************
***********************************************************************************/
.responsiveness {
  background-image: url("../img/akita.jpg");
  background-repeat: no-repeat;
  background-position: 150px 70px;
  width: 100%;
  /*height: 550px;*/
  position: relative;
}
.responsiveness h2 {
  padding-top: 100px;
  padding-left: 850px;
  text-align: left;
  color: #181818;
}
.responsiveness p {
  padding: 50px 150px 0 850px;
  text-align: left;
  line-height: 1.5;
  display: block;
  color: #868686;
}
/**********************************************************************************
*****************************SECTION COLOR ADJUSTMENT******************************
***********************************************************************************/
.color-adjustment {
  background-image: url("../img/lens.jpg");
  background-repeat: no-repeat;
  background-position: 950px 100px;
  width: 100%;
  /*height: 550px;*/
  position: relative;
}
.color-adjustment h2 {
  padding-top: 150px;
  padding-left: 150px;
  text-align: left;
  color: #181818;
}
.color-adjustment p {
  padding: 50px 850px 0 150px;
  text-align: left;
  line-height: 1.5;
  display: block;
  color: #868686;
  margin-bottom: 100px;
}
/**********************************************************************************
*****************************SECTION SIMPLE PRICING********************************
***********************************************************************************/
#pricing {
  background: #fff;
  width: 100%;
  /*height: 550px;*/
  position: relative;
}
#pricing span {
  display: block;
  text-align: center;
}
#pricing p {
  line-height: 2;
  color: #a0a9c1;
}
.price-container {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 150px;
}
.price-option {
  display: block;
  width: 318px;
  border: 1px solid #d6d6d6;
  transition: all 0.2s ease-in-out;
}
.price-option:hover {
  background: #0785f2;
  margin-top: -20px;
  margin-bottom: 20px;
  /*cursor: pointer;*/
}
/* разобраться почему не работает
.price-option:hover i, .price-option:hover span, .price-option:hover span:nth-child(2n), .price-option:hover p {
	color: #fff;
}
*/
.price-option:hover * {
  color: #fff !important;
}

.personal,
.small-team,
.enterprize,
.corporate {
  text-align: center;
  margin-bottom: 10px;
}
.personal i,
.small-team i,
.enterprize i,
.corporate i {
  font-size: 35px;
  color: #d6d6d6;
  margin-top: 40px;
}
.price-option b:first-child {
  padding-top: 10px;
  color: #8c8c8c;
}
.price-option span:nth-child(2n) {
  margin-top: 10px;
}
/*
.price-option p {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px; 
	color: #8c8c8c;
}
*/
.price-option p {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  color: #8c8c8c;
}

.price {
  margin-top: 10px;
  font-size: 60px;
  color: #333c4d;
  font-weight: normal;
}
.price:before {
  content: "$";
  font-size: 25px;
}
/**********************************************************************************
**************************************REVIEWS**************************************
***********************************************************************************/
.reviews {
  background: #fff;
  width: 100%;
  height: 500px;
  position: relative;
}
.review-container {
  /*padding-top: 200px;*/
  /*border-top: 200px solid transparent;*/
  width: 650px;
  height: 400px;
  margin: 100px auto;
  /*margin-bottom: 70px;*/
  overflow: hidden;
  position: relative;
  /*border: 1px solid black;*/
  background: #fff;
}
.review {
  position: absolute;
  /*top: 0;
  	left: 0;*/
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0; /*скрывает отзывы друг под другом*/
  transition: opacity 1s ease;
  /*border: 1px solid black;*/
}
.review:first-child {
  opacity: 1;
}
.company {
  /*position: absolute;*/
  margin: 0 auto;
  text-align: center;
  display: block;
}
.review-txt {
  position: absolute;
  margin-top: 50px;
  line-height: 1.5;
  font-size: 30px;
  text-align: center;
}
.user {
  display: block;
  margin: 220px auto 15px;
}
.review span {
  display: block;
  color: #8282a1;
  text-align: center;
}
.review-indicator {
  display: flex;
  justify-content: center;
  width: 15%;
  margin: 0 275px;
  position: absolute;
  bottom: 0;
  /*border: 1px solid black;*/
  /*background: grey;*/
}
.review-btn_link {
  display: block;
  width: 8px;
  height: 8px;
  margin: 2px;
  border: 2px solid transparent;
  background: #d1d1d1;
  border-radius: 50%;
}
.review-btn_link:hover {
  background: #d1d1d1;
  border: 2px solid #0785f2;
}
.review:target {
  opacity: 1;
}
.review-container
  #review-img_first:target
  ~ .review-indicator
  a[href="#review-img_first"],
.review-container
  #review-img_second:target
  ~ .review-indicator
  a[href="#review-img_second"],
.review-container
  #review-img_third:target
  ~ .review-indicator
  a[href="#review-img_third"] {
  background-color: #0785f2;
}

/**********************************************************************************
*****************************SECTION GET OFFER*************************************
***********************************************************************************/
.get-offer {
  background-image: url("../img/background-offer.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 460px;
  position: relative;
}
.get-offer h2,
.get-offer p,
.get-offer button {
  color: #fff;
}
.get-offer h2 {
  font-size: 60px;
  margin-top: 85px;
}
.get-offer button {
  display: block;
  margin: 100px auto;
}
/**********************************************************************************
*********************************FOOTER********************************************
***********************************************************************************/
footer {
  background: #222;
  width: 100%;
  height: 150px;
  position: relative;
}
.copyright {
  height: 50px;
  width: 1480px;
  margin-left: 60px;
  padding-top: 30px;
  /*border: 1px solid #fff;*/
  display: flex;
  flex-wrap: wrap;
}
.footer-logo,
.copyright-p,
.contact-p,
.social-btn i {
  display: inline-block;
  color: #818181;
}
.copyright-p {
  padding-top: 20px;
  margin-left: 30px;
}
.contact-p {
  padding-top: 10px;
  margin-left: 200px;
}
.social-btn {
  padding-top: 20px;
  margin-left: 150px;
  /*margin-right: 0px;*/
  text-align: right;
  /*border: 1px solid #fff;*/
}
.social-btn i {
  font-size: 18px;
  margin-left: 18px;
}

/***************************************BUTTON BACK TO TOP*************************************/
#back-top i {
  color: #d6d6d6;
  font-size: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#back-top i:hover {
  color: #0785f2;
}
